body{background-color: wheat; }
.identifier{color:orange; }
.keyword{color:red; }
.operator{color:blue; }
.literal{color:yellow; }
.curlybrace{color:green; }
.indent{width:2em;text-align:right; display:inline-block; }
.punctuation{ color: black; }